{{#if posts.length}}
<section>
  <h2> ✍ Your Posts ✍</h2>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
        <section>
        <div>  
            <div>
              <a href="/dashboard/edit/{{id}}">{{title}}</a>
            </div>    
        </section>
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<section>
  <h3>No posts to display</h3>
</section>
{{/if}}

<button type="submit"><a href="/dashboard/new">Add New Post</a></button>